<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">
</head>

<body>
    <h1 class="heading">CODEDEVTA</h1>
    <nav>
        <li><a href="{{ url_for('home_page') }}" style="color: black;"> Home</a></li>
        <li><a href="{{ url_for('about_us') }}" style="color: black;"> About us</a></li>
        <li><a href="How to use" style="color: black;">Contact Us</a></li>
    </nav>

    <section>
        <div class="first_box">
            <div class="first_text ">
                <h2>Health Matters</h2>
                <p><span>One Step Solution</span></p>
                <p>for all your</p>
                <p>dietary needs.</p>
            </div>
            <div class="sub_text">
                <p>Using your BMI index we calculate</p> whether the dish is suitable for you.
            </div>
        </div>

        <div class="second_box">
            <div class="chat_bot">
                <a href="{{ url_for('chatbot') }}" target=""><img
                        src="{{ url_for('static', filename='images/Bot1.gif') }}" alt="stat"></a>
                <img src="{{ url_for('static', filename='images/doc.png') }}" alt="doc">
            </div>
        </div>
    </section>

    <div class="img">
        <div class="second_text">
            <p><span>FEATURES WE PROVIDE</span></p>
            <p class="ABz">Calculating BMI <br>is easier <img
                    src="{{ url_for('static', filename='images/Heart Rate.png') }}" alt="stat">
            </p>
            <p class="third_class">We calculate your BMI index from<br>data like age, height, weight.</p>
        </div>

        <div class="imagess">
            <div class="img1">
                <img src="{{ url_for('static', filename='images/diet 1.png') }}" alt="diet">
                <p class="diettxt">Food Recomendation</p>
                <p class="diettxt1">We provide food<br>recomendation<br>according to your<br>calorie requirements.</p>
            </div>
            <div class="img2">
                <img src="{{ url_for('static', filename='images/chatbot 1.png') }}" alt="chat">
                <p class="diettxt">Interactive Chatbot</p>
                <p class="diettxt1">Solve your queries<br>by interacting with<br>our bot.</p>
            </div>
            <div class="img3">
                <img src="{{ url_for('static', filename='images/stats-2 1.png') }}" alt="stat">
                <p class="diettxt">Nutritional Value</p>
                <p class="diettxt1">Get all the nutritional<br>values of your<br>preferred dish.</p>
            </div>
        </div>
    </div>

    <div class="hel">
        <p class="help">
            HELP TOPICS
        </p>
        <p class="enhance">
            Enhance Your Lifestyle
        </p>
    </div>
    </div>
    
    <section class="carousel">
    </section>

    <footer>
        <div class="footer-content">
            <p>Copyright &copy; 2025 HealthyMe. All rights reserved.</p>
            <div class="footer-links">
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="{{ url_for('static', filename='js/Home.js') }}"></script>

</body>

</html>